.product-detail-quantity-group {
    position: relative;
}

.product-detail-quantity-group select.js-quantity-selector {
    max-height: 200px !important;
    overflow-y: auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 25px;
}

.custom-dropdown-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}
